@model Deck
@{
    ViewData["Title"] = "FlashCards";
}

<h1>@Model.Name</h1>

<div class="card-columns">
    @foreach (var flashCard in Model.Cards)
    {
        <div class="card text-white bg-dark mb-3" style="min-height: 18rem; max-width: 18rem">
            <div class="card-header">
                <a onclick="document.getElementById('@string.Concat("description",flashCard.Id)')
                                        .classList.toggle('text-hide');">
                    show/hide
                </a>
                <a asp-action="EditFlashCard"
                   asp-route-flashCardId="@flashCard.Id"
                   class="float-right">
                    edit
                </a>
            </div>

            <div class="card-body">
                <h3 class="card-title">@flashCard.Title</h3>
                <h5 id=@string.Concat("description",flashCard.Id)
                    class="card-text, text-hide">
                    @flashCard.Description
                </h5>
            </div>
        </div>
    }
    <div class="card text-white bg-info mb-3" style="min-height: 18rem; max-width: 18rem">
        <div class="card-header">+</div>
        <div class="card-body">
            <h3 class="card-title"><a asp-action="CreateFlashCard" class="card-text">New</a></h3>
        </div>
    </div>
</div>

<div>
    <form method="post">
        <input onclick="location.href='@Url.Action("VerifyDelete",
                                      new VerifyDeleteViewModel { Id = Model.Id,
                                                                  ItemType = "deck" })'"
               type="button"
               name="delete"
               value="delete deck"
               class="btn btn-danger" />
    </form>
</div>